<%= form_for @kuuser, :html => {:class => 'form-horizontal'} do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<fieldset>
        <div id="legend">
                <legend class="">Add new user</legend>
        </div>

        <div class="control-group">
                <%= f.label :ku_id,'Ku ID', class: "control-label" %>
                <div class="controls">
                        <%= f.text_field :ku_id, class: "form-control input-lg" %>
                        <p class="help-block">Ku ID should be at least 15 characters</p>
                </div>
        </div>


        <div class="control-group">
                <%= f.label :username,'Username', class: "control-label" %>
                <div class="controls">
                        <%= f.text_field :username, class: "form-control input-lg" %>
                        <p class="help-block">Username can contain any letters or numbers, without spaces</p>
                </div>
        </div>


        <div class="control-group">
                <%= f.label :password,'Password', class: "control-label" %>
                <div class="controls">
                        <%= f.text_field :password, class: "form-control input-lg" %>
                        <p class="help-block">Password should be at least 6 characters</p>
                </div>
        </div>
        
        <div class="control-group">
                <%= f.label :password_confirmation,'Password confirmation', class: "control-label" %>
                <div class="controls">
                        <%= f.text_field :password_confirmation, class: "form-control input-lg" %>
                        <p class="help-block">Please confirm password</p>
                </div>
        </div>
        
        <div class="control-group">
                <%= f.label :firstname,'Firstname', class: "control-label" %>
                <div class="controls">
                        <%= f.text_field :firstname, class: "form-control input-lg" %>
                        <p class="help-block">Please provide your Firstname</p>
                </div>
        </div>
        
        <div class="control-group">
                <%= f.label :lastname,'Lastname', class: "control-label" %>
                <div class="controls">
                        <%= f.text_field :lastname, class: "form-control input-lg" %>
                        <p class="help-block">Please provide your Lastname</p>
                </div>
        </div>

        <div class="control-group">
                <%= f.label :email,'Email', class: "control-label" %>
                <div class="controls">
                        <%= f.text_field :email, class: "form-control input-lg" %>
                        <p class="help-block">Please provide your E-mail</p>
                </div>
        </div>

        <div class="control-group">
                <%= f.label :sex,'Sex', class: "control-label" %>
                <div class="controls">
                        <%= f.select :sex, [['Male','1'],['Female','2']], {}, {class: "form-control input-lg"} %>
                </div>
        </div><br>

        <div class="control-group">
                <%= f.label :degree_level,'Degree Level', class: "control-label" %>
                <div class="controls">
                        <%= f.select :degree_level, [['Master','1'],['Female','2']], {}, {class: "form-control input-lg"} %>
                </div>
        </div><br>

        <div class="control-group">
                <%= f.label :campus,'Campus', class: "control-label" %>
                <div class="controls">
                        <%= f.select :campus, [['Bangkhen','1'],['Female','2']], {}, {class: "form-control input-lg"} %>
                </div>
        </div><br>

        <div class="control-group">
                <%= f.label :faculty,'Faculty', class: "control-label" %>
                <div class="controls">
                        <%= f.select :faculty, [['Science','1'],['Female','2']], {}, {class: "form-control input-lg"} %>
                </div>
        </div><br>

        <div class="control-group">
                <%= f.label :major_field,'Major Field', class: "control-label" %>
                <div class="controls">
                        <%= f.select :major_field, [['Computer Science (XD60)','1'],['Female','2']], {}, {class: "form-control input-lg"} %>
                </div>
        </div><br>

        <div class="control-group">
                <%= f.label :status,'Status', class: "control-label" %>
                <div class="controls">
                        <%= f.select :status, [['Currently studying','1'],['Female','2']], {}, {class: "form-control input-lg"} %>
                </div>
        </div>
        <br>
        <div class="control-group" align="center">
        <!-- Button -->
                <div class="controls">
                        <%= f.submit "Add User", class: "btn btn-success" %>
                </div>
        </div>
</fieldset>

<% end %>