<tr>
	<th scope="row"><%= ku_user.ku_id %></th>
	<th><%= ku_user.firstname %></th>
	<th><%= ku_user.lastname %></th>
	<th>
		<div style="display:inline-block;">
			<%= button_to 'Instance', ku_user_path(ku_user), :class => "btn btn-success", :method => :get  %>
		</div>
		<div style="display:inline-block;">
			<%= button_to 'Edit', edit_ku_user_path(ku_user), :class => "btn btn-primary", :method => :get  %>
		</div>
		<div style="display:inline-block;">
			<%= button_to 'Delete', ku_user_path(ku_user), data: {title: "Delete user #{ku_user.ku_id}", confirm: "Are you sure?" }, :class => "btn btn-default", :method => :delete %>
		</div>
	</th>
</tr>
