<hr>
<div class="row">
<% if user_error.chef_resource_id.nil? %>
  <% personal_chef_resource = PersonalChefResource.find(user_error.personal_chef_resource_id) %>
  <% personal_program = personal_chef_resource.personal_programs.first %>
  Error at personal program: <%= personal_program.program_name %><br>
  resource_type: <%= personal_chef_resource.resource_type %><br>
  status: <%= personal_chef_resource.status %><br>
<% else %>
  <% chef_resource = ChefResource.find(user_error.chef_resource_id) %>
  <% program = chef_resource.programs.first %>
  Error at program: <%= program.program_name %><br>
  resource_type: <%= chef_resource.resource_type %><br>
  status: <%= chef_resource.status %><br>
<% end %>
line: <%= user_error.line_number %><br>
<% log = `tail -n #{user_error.line_number} #{user_error.log_path}` %>

<!-- Button trigger modal -->
<button class="btn btn-primary" data-toggle="modal" data-target="#user_error_log_Modal">
  Log
</button>
<!-- Modal -->
<div class="modal fade" id="user_error_log_Modal" tabindex="-1" role="dialog" aria-labelledby="user_error_log_Modal_Label" aria-hidden="true">
  <div class="modal-dialog" style="width: 80%">
    <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Log</h4>
        </div>
        <div class="modal-body">
                <%= text_area_tag(:log, log, :size => "120x20", class: 'form-control') %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>
