
<div class="row">
  <div class="col-sm-12">
    <span class="pull-left"><h1><%= @kuuser.firstname+" "+@kuuser.lastname %></h1></span>
    <span class="pull-right"  style="padding: 30px 0 0 0;">
        <div style="display:inline-block;">
          <%= button_to 'Back', ku_user_path(@kuuser), :class => "btn btn-default", :method => :get %>
        </div>
    </span>
  </div>
</div>

<div class="row">
  <div class="col-sm-4"><!--left col-->
    <ul class="list-group">
      <li class="list-group-item text-muted">Profile</li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Ku ID</strong></span><%= @kuuser.ku_id %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Email</strong></span><%= @kuuser.email %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Sex</strong></span>
      <% if @kuuser.sex == 1 %>
        Male
      <% else%>
        Female
      <% end %>
      </li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Degree Level</strong></span>
      <% if @kuuser.degree_level == 1 %>
        Master
      <% else%>
        Other Degree Level
      <% end %>
      </li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Campus</strong></span>
      <% if @kuuser.campus == 1 %>
        Bangkhen
      <% else%>
        Other Campus
      <% end %>
      </li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Faculty</strong></span>
      <% if @kuuser.faculty == 1 %>
        Science
      <% else%>
        Other Faculty
      <% end %>
      </li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Major Field</strong></span>
      <% if @kuuser.major_field == 1 %>
        Computer Science (XD60)
      <% else%>
        Other Major Field
      <% end %>
      </li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Status</strong></span>
      <% if @kuuser.status == 1 %>
        Currently studying
      <% else%>
        Other Status
      <% end %>
      </li>
    </ul>
  </div><!--/col-5-->
  <div class="col-sm-8">

    <%= form_for(@kuuser, :url => update_ku_user_attribute_path, :method => :patch) do |user_form| %>
    <div class="panel panel-info">
      <!-- Default panel contents -->
      <div class="panel-heading"><%= @program.program_name %></div>
      <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>


        <% @chef_values.each do |chef_value| %>
          <%= user_form.fields_for chef_value, index: chef_value.id do |c| %>

            <tr>

              <th scope="row"><%= ChefAttribute.find(c.object.chef_attribute_id).name %></th>

              <%= hidden_field_tag :ku_user_id %>

              <td>
                <%= c.text_field :value %>
              </td>

            </tr>

          <% end %>
        <% end %>

      </tbody>
      </table>
    </div>

    <div class="center">
      <% if !@chef_values.empty? %>
        <%= submit_tag "Update", class: "btn btn-primary" %>
      <% end %>
    </div>
    <% end %>

  </div><!--/col-9-->
</div>
