
<div class="row">
  <div class="col-sm-10"><span class="pull-left"><h1><%= @kuuser.firstname+" "+@kuuser.lastname %></h1></span></div>
</div>

<div class="row">
  <div class="col-sm-4"><!--left col-->
    <ul class="list-group">
      <li class="list-group-item text-muted">Profile</li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Ku ID</strong></span><%= @kuuser.ku_id %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Email</strong></span><%= @kuuser.email %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Sex</strong></span>
      <% if @kuuser.sex == 1 %>
        Male
      <% else%>
        Female
      <% end %>
      </li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Degree Level</strong></span>
      <% if @kuuser.degree_level == 1 %>
        Master
      <% else%>
        Other Degree Level
      <% end %>
      </li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Campus</strong></span>
      <% if @kuuser.campus == 1 %>
        Bangkhen
      <% else%>
        Other Campus
      <% end %>
      </li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Faculty</strong></span>
      <% if @kuuser.faculty == 1 %>
        Science
      <% else%>
        Other Faculty
      <% end %>
      </li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Major Field</strong></span>
      <% if @kuuser.major_field == 1 %>
        Computer Science (XD60)
      <% else%>
        Other Major Field
      <% end %>
      </li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Status</strong></span>
      <% if @kuuser.status == 1 %>
        Currently studying
      <% else%>
        Other Status
      <% end %>
      </li>
    </ul>
  </div><!--/col-5-->
  <div class="col-sm-8">

<h1>Edit attribute here</h1>

    <div class="panel panel-warning">
      <!-- Default panel contents -->
      <div class="panel-heading">Programs</div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Program ID</th>
              <th>Program name</th>
              <th>Note</th>
              <th>att</th>
            </tr>
          </thead>
          <tbody>
            <% @kuuser.user_programs.each do |program| %>
              <tr>
                <th scope="row"><%= program.id %></th>
                <td><%= link_to program.program_name, program %></td>
                <td><%= program.note %></td>
                <td><%= link_to "Edit", edit_ku_user_attribute_path(id: @kuuser.id, program_id: program.id), :class => "btn btn-success" %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>

  </div><!--/col-9-->
</div>
<!-- For Test -->
------<br>
Run_list:<%= @kuuser.run_list %>
<br>------<br>
Actual Run List:<br>
<%= @actual_run_list %>
