<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">Subjects</div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Subject ID</th>
          <th>Subject name</th>
        </tr>
      </thead>
      <tbody>
        <% @kuuser.subjects.each do |subject| %>
          <tr>
            <th scope="row"><%= link_to subject.id, subject %></th>
            <td><%= subject.subject_name %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>


<div class="panel panel-warning">
  <!-- Default panel contents -->
  <div class="panel-heading">Programs</div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Program ID</th>
          <th>Program name</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        <% @kuuser.user_programs.each do |program| %>
          <tr>
            <th scope="row"><%= link_to program.id, program %></th>
            <td><%= program.program_name %></td>
            <td><%= program.note %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>