<!-- Main -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <strong><%= @kuuser.firstname + " " + @kuuser.lastname %></strong>
      <% if current_user.admin? %>
        <span class="pull-right"><%= button_to "View files", ku_user_path(@kuuser)+"/cookbook/"+@kuuser.ku_id+"/", :class => "btn btn-success", :method => :get %></span>
      <% end %>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <% if !@node.nil? %>
            <div class="panel panel-default">
              <div class="panel-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Uptime</th>
                      <th>State</th>
                      <th>Status</th>
                      <th>Cost</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>
                        <!-- Single button -->
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <% if @all_pass %>
                              <li>
                                <a href='<%= "http://" + @public_dns_name + ":8080/guacamole" %>'>Connect</a>
                              </li>
                              <li>
                                <% if !@result.any? %>
                                  <%= link_to apply_change_ku_user_path(@kuuser), data: {title: "Apply change", confirm: 'It will take a long time to process, Are you sure?'} do %>
                                    Apply change
                                    <% if @was_updated != 0 %>
                                      <%= content_tag :span, @was_updated, class: 'badge' %>
                                    <% end %>
                                  <% end %>
                                <% end %>
                              </li>
                              <li><%= link_to "Stop Instance", ku_user_stop_instance_path(@kuuser), data: {title: "Stop Instance", confirm: "Are you sure you want to stop instance?" } %></li>
                            <% elsif @instance_state == "stopped" %>
                              <li><%= link_to "Start Instance", ku_user_start_instance_path(@kuuser), data: {title: "Start Instance", confirm: "Are you sure you want to start instance?" } %></li>
                            <% end %><!-- if @all_pass -->
                          </ul>
                        </div>

                      </th>
                      <th><%= @node.uptime.split(" ")[0..1].join(" ") %></th>
                      <% date = DateTime.parse(Time.at(@node[:ohai_time]).to_s) %>
                      <% if date < 1.hour.ago %>
                        <th><%= image_tag "error.png" %> something went wrong with your program</th>
                      <% else %>
                        <% if @instance_state == "running" %>
                          <th><%= image_tag "running.png" %> running</th>
                        <% elsif @instance_state == "stopped" %>
                          <th><%= image_tag "error.png" %> stopped</th>
                        <% else %>
                          <th><%= image_tag "pendding.png" %> <%= @instance_state %></th>
                        <% end %>
                      <% end %>
                      <th><%= @status_check_text %></th>
                      <th><%= @ec2_cost %> $</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>

        </div><!-- col-sm-6 -->

        <div class="col-md-6">
          <% if @result.any? %>
            <% progress=0 %>
            <% if @user_job.progress_max != 0 %>
            	<% progress = ((@user_job.progress_current.to_f / @user_job.progress_max) * 100).round %>
            <% end %>
            <div class="thumbnail" style="padding: 0">
              <div class="caption">
                <div class="row">
                  <div class="col-md-4"  style="text-align:center">
                    <% if @user_job.progress_stage.nil? %>
                      <b>Waiting</b>
                    <% else %>
                      <% if @job_error %>
                        <b>Error</b>
                      <% else %>
                        <b>Working</b>
                      <% end %>
                    <% end %>
                    <br><small>Status</small></div>
                  <div class="col-md-4"  style="text-align:center">
                    <% if @job_error %>
                      <% if @user_job.description.include?("Destroy personal program") %>
                        <% new_line = @user_job.last_error.index("\n") %>
                        <%= @user_job.last_error[0,new_line].html_safe %>
                      <% else %>
                        <%= button_to 'Full log', log_path(@kuuser.log), :class => "btn btn-default", :method => :get %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="col-md-4"  style="text-align:center"><%= button_to 'Delete', delete_user_job_path(id: @kuuser.id, job_id: @user_job.id), :class => "btn btn-default pull-right", :method => :delete, :disabled =>  @job_error ? false : true  %></div>
                </div>
              </div>
              <div class="modal-footer" style="text-align: left">
              	<div class="progress">
      	          	<% if @job_error %>
      	            	<%= content_tag(:div, progress.to_s + "%", :style => "width:"+progress.to_s+"%;", :class => "progress-bar progress-bar-danger") %>
      	            <% else %>
      	            	<%= content_tag(:div, progress.to_s + "%", :style => "width:"+progress.to_s+"%;", :class => "progress-bar") %>
      	            <% end %>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4" style="text-align:center"><%= ("<b>"+progress.to_s+"%</b>").html_safe %><br/><small>Successed</small></div>
                  <div class="col-md-4" style="text-align:center"><%= ("<b>"+@user_job.progress_current.to_s+"</b>").html_safe %><br/><small>Current</small></div>
                  <div class="col-md-4" style="text-align:center"><%= ("<b>"+@user_job.progress_max.to_s+"</b>").html_safe %><br/><small>Max</small></div>
              </div>


            </div>
          <% end %>
          <% if !@kuuser.user_error.nil? %>
            <%= render partial: "user_error" %>
          <% end %>
        </div><!-- col-sm-6 -->

      </div><!-- row -->

<hr>

      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Programs</div>
              <table class="datatable_display table table-striped">
                <thead>
                  <tr>
                    <th>Program</th>
                    <th>Subject</th>
                    <th>Action</th>
                    <th>Change</th>
                  </tr>
                </thead>
                <tbody>
                  <%= render partial: "user_program", collection: @user_programs_list, as: :program %>
                </tbody>
            </table>
          </div>

          <!-- Button trigger modal -->
          <button class="btn btn-primary" data-toggle="modal" data-target="#personal_program_Modal">
            Add personal program
          </button>
          <!-- Modal -->
          <div class="modal fade" id="personal_program_Modal" tabindex="-1" role="dialog" aria-labelledby="personal_program_Modal_Label" aria-hidden="true">
            <div class="modal-dialog" style="width: 70%">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title">Add personal program</h4>
                </div>
                <div class="modal-body">
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#all_programs">All personal programs</a></li>
                    <li><a data-toggle="tab" href="#create_new_programs">Create new personal programs</a></li>
                  </ul>
                  <div class="tab-content">

                    <div id="all_programs" class="tab-pane fade in active">
                      <br>
                      <div class="panel panel-primary">
                        <!-- Default panel contents -->
                        <div class="panel-heading">All personal programs</div>
                          <table class="datatable_display table table-striped">
                            <thead>
                              <tr>
                                <th>Program name</th>
                                <th>Owner</th>
                                <th>Edit</th>
                                <th>Add</th>
                                <th>Destroy</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% @all_personal_programs.each do |program| %>
                                <tr>
                                  <td><%= program.program_name %></td>
                                  <td>
                                    <% owner = KuUser.where(:id => program.owner).first %>
                                    <%= owner.firstname if !owner.nil? %>
                                  </td>
                                  <td><%= button_to "Edit", edit_personal_program_path(program), :class => "btn btn-primary", :method => :get %></td>
                                  <td><%= button_to 'Add', ku_user_add_personal_program_path(@kuuser, program), :class => "btn btn-success", :method => :post %></td>
                                  <td>
                                    <% if program.owner == current_user.id || current_user.admin? %>
                                      <% user_count = program.ku_users.count %>
                                      <% if user_count == 0 %>
                                        <%= button_to 'Destroy', ku_user_destroy_personal_program_path(@kuuser, program), :class => "btn btn-danger", :method => :delete, data: {title: "Destroy #{program.program_name}", confirm: "Are you sure?" } %>
                                      <% else %>
                                        <%= button_to 'Destroy', ku_user_destroy_personal_program_path(@kuuser, program), :class => "btn btn-danger", :method => :delete, data: {title: "Destroy #{program.program_name}", confirm: "There are #{user_count} users use #{program.program_name}, Are you sure?" } %>
                                      <% end %>
                                    <% end %>
                                  </td>
                                </tr>
                              <% end %>
                            </tbody>
                        </table>
                      </div>
                    </div>

                    <div id="create_new_programs" class="tab-pane fade">
                      <br>
                      <%= form_tag ku_user_create_personal_program_path, method: :post, :class => "form-horizontal" do %>
                                <%= label_tag 'name', 'Program name', :class => 'control-label' %>
                                <%= text_field_tag :program_name, params[:program_name], :class => "form-control" %>
                                <br>
                                <%= label_tag 'note', 'Program note', :class => 'control-label' %>
                                <%= text_area_tag :note, params[:note], rows: 10, :class => "form-control" %>
                                <br>
                                <%= submit_tag "Create program", name: nil, class: "btn btn-success" %>
                      <% end %>
                    </div>

                  </div><!-- tab-content -->
                </div><!-- modal-body -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>

              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->

        </div><!-- col-sm-12 -->
      </div><!-- row -->

    </div><!-- col-sm-12 -->
  </div><!-- row -->
</div>
<!-- Main -->
