
<div class="row">
  <div class="col-sm-10"><span class="pull-left"><h1><%= @kuuser.firstname+" "+@kuuser.lastname %></h1></span></div>
</div>

<div class="row">
  <div class="col-sm-4"><!--left col-->
    <ul class="list-group">
      <li class="list-group-item text-muted">Profile</li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Ku ID</strong></span><%= @kuuser.ku_id %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Email</strong></span><%= @kuuser.email %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Sex</strong></span>
      <% if @kuuser.sex == 1 %>
        Male
      <% else%>
        Female
      <% end %>
      </li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Degree Level</strong></span>
      <% if @kuuser.degree_level == 1 %>
        Master
      <% else%>
        Other Degree Level
      <% end %>
      </li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Campus</strong></span>
      <% if @kuuser.campus == 1 %>
        Bangkhen
      <% else%>
        Other Campus
      <% end %>
      </li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Faculty</strong></span>
      <% if @kuuser.faculty == 1 %>
        Science
      <% else%>
        Other Faculty
      <% end %>
      </li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Major Field</strong></span>
      <% if @kuuser.major_field == 1 %>
        Computer Science (XD60)
      <% else%>
        Other Major Field
      <% end %>
      </li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Status</strong></span>
      <% if @kuuser.status == 1 %>
        Currently studying
      <% else%>
        Other Status
      <% end %>
      </li>
    </ul>
  </div><!--/col-5-->
  <div class="col-sm-8">

    <div class="panel panel-info">
      <!-- Default panel contents -->
      <div class="panel-heading">Subjects</div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Subject ID</th>
              <th>Subject name</th>
            </tr>
          </thead>
          <tbody>
            <% @kuuser.subjects.where("user_subjects.user_enabled = true").each do |subject| %>
              <tr>
                <th scope="row"><%= subject.id %></th>
                <td><%= link_to subject.subject_name, subject %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>


    <div class="panel panel-warning">
      <!-- Default panel contents -->
      <div class="panel-heading">Programs</div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Program ID</th>
              <th>Program name</th>
              <th>Note</th>
              <th>Configure</th>
            </tr>
          </thead>
          <tbody>
            <% @kuuser.user_programs.each do |program| %>
              <tr>
                <th scope="row"><%= program.id %></th>
                <td><%= link_to program.program_name, program %></td>
                <td><%= program.note %></td>
                <td><%= link_to "Edit", edit_ku_user_attribute_path(id: @kuuser.id, program_id: program.id), :class => "btn btn-success" %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>



    <div class="panel panel-success">
      <!-- Default panel contents -->
      <div class="panel-heading">Personal programs</div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Program ID</th>
              <th>Program name</th>
              <th>Note</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% @kuuser.personal_programs.where("user_personal_programs.status = 'install'").each do |program| %>
              <tr>
                <th scope="row"><%= program.id %></th>
                <td><%= link_to program.program_name, program %></td>
                <td><%= program.note %></td>
                <td><%= button_to "Edit", edit_personal_program_path(program), :class => "btn btn-primary" %></td>
                <td><%= button_to 'Delete', personal_program_user_personal_program_path(program ,@kuuser.user_personal_programs.find_by(personal_program_id: program).id), :class => "btn btn-default", :method => :delete %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>


    <% if @result.any? %>
      <% progress=0 %>
      <% if @user_job.progress_max != 0 %>
      	<% progress = ((@user_job.progress_current.to_f / @user_job.progress_max) * 100).round %>
      <% end %>
      <div class="col-12" style="margin-top: 20px;">
        <div class="thumbnail" style="padding: 0">
          <div class="caption">
            <div class="row">
              <div class="col-md-4"  style="text-align:center">
                <% if @user_job.progress_stage.nil? %>
                  <b>Waitting</b>
                <% else %>
                  <% if @job_error %>
                    <b>Error</b>
                  <% else %>
                    <b>Working</b>
                  <% end %>
                <% end %>
                <br><small>Status</small></div>
              <div class="col-md-4"  style="text-align:center"> Log </div>
              <div class="col-md-4"  style="text-align:center"><%= button_to 'Delete', command_job_path(@user_job), :class => "btn btn-default pull-right", :method => :delete, :disabled =>  @job_error ? false : true  %></div>
            </div>
          </div>
          <div class="modal-footer" style="text-align: left">
          	<div class="progress">
  	          	<% if @job_error %>
  	            	<%= content_tag(:div, progress.to_s + "%", :style => "width:"+progress.to_s+"%;", :class => "progress-bar progress-bar-danger") %>
  	            <% else %>
  	            	<%= content_tag(:div, progress.to_s + "%", :style => "width:"+progress.to_s+"%;", :class => "progress-bar") %>
  	            <% end %>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4" style="text-align:center"><%= ("<b>"+progress.to_s+"%</b>").html_safe %><br/><small>Successed</small></div>
              <div class="col-md-4" style="text-align:center"><%= ("<b>"+@user_job.progress_current.to_s+"</b>").html_safe %><br/><small>Current</small></div>
              <div class="col-md-4" style="text-align:center"><%= ("<b>"+@user_job.progress_max.to_s+"</b>").html_safe %><br/><small>Max</small></div>
          </div>


        </div>
      </div>
    <% end %>




<%= button_to "Apply change", ku_user_path(@kuuser)+"/apply_change", :class => "btn btn-success", :method => :get, :disabled => @result.any? ? true : false  %>
  </div><!--/col-9-->
</div>
<!-- For Test -->
------<br>
Run_list:<%= @kuuser.run_list %>
<br>------<br>
Actual Run List:<br>
<%= @actual_run_list %>
