<!-- Main -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <strong>Pakkawat Jongprasertkit</strong>
      <% if current_user.admin? %>
        <span class="pull-right"><%= button_to "View files", ku_user_path(@kuuser)+"/cookbook/"+@kuuser.ku_id+"/", :class => "btn btn-success", :method => :get %></span>
      <% end %>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <% if !@node.nil? %>
            <div class="panel panel-default">
              <div class="panel-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Remote</th>
                      <th>Instance name</th>
                      <th>Uptime</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th><a class="btn btn-primary" href='<%= "http://"+@node.ec2.public_hostname.to_s+":8080/guacamole" %>'>RDP</a></th>
                      <th><%= @node.name %></th>
                      <th><%= @node.uptime.split(" ")[0..1].join(" ") %></th>
                      <% date = DateTime.parse(Time.at(@node[:ohai_time]).to_s) %>
                      <% if date < 1.hour.ago %>
                        <th><%= image_tag "error.png" %> error</th>
                      <% else %>
                        <th><%= image_tag "running.png" %> running</th>
                      <% end %>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>

          <hr>

          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <%= button_to "Apply change", ku_user_path(@kuuser)+"/apply_change", :class => "btn btn-success", :method => :get, :disabled => @result.any? ? true : false  %>
            (<%= @was_updated %> Personal programs has been updated)
          </div>

          <hr>

          <% if @result.any? %>
            <% progress=0 %>
            <% if @user_job.progress_max != 0 %>
            	<% progress = ((@user_job.progress_current.to_f / @user_job.progress_max) * 100).round %>
            <% end %>
            <div class="thumbnail" style="padding: 0">
              <div class="caption">
                <div class="row">
                  <div class="col-md-4"  style="text-align:center">
                    <% if @user_job.progress_stage.nil? %>
                      <b>Waitting</b>
                    <% else %>
                      <% if @job_error %>
                        <b>Error</b>
                      <% else %>
                        <b>Working</b>
                      <% end %>
                    <% end %>
                    <br><small>Status</small></div>
                  <div class="col-md-4"  style="text-align:center"><%= button_to 'Log', log_path(@kuuser.log), :class => "btn btn-default", :method => :get, :disabled =>  @job_error ? false : true  %></div>
                  <div class="col-md-4"  style="text-align:center"><%= button_to 'Delete', delete_user_job_path(id: @kuuser.id, job_id: @user_job.id), :class => "btn btn-default pull-right", :method => :delete, :disabled =>  @job_error ? false : true  %></div>
                </div>
              </div>
              <div class="modal-footer" style="text-align: left">
              	<div class="progress">
      	          	<% if @job_error %>
      	            	<%= content_tag(:div, progress.to_s + "%", :style => "width:"+progress.to_s+"%;", :class => "progress-bar progress-bar-danger") %>
      	            <% else %>
      	            	<%= content_tag(:div, progress.to_s + "%", :style => "width:"+progress.to_s+"%;", :class => "progress-bar") %>
      	            <% end %>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4" style="text-align:center"><%= ("<b>"+progress.to_s+"%</b>").html_safe %><br/><small>Successed</small></div>
                  <div class="col-md-4" style="text-align:center"><%= ("<b>"+@user_job.progress_current.to_s+"</b>").html_safe %><br/><small>Current</small></div>
                  <div class="col-md-4" style="text-align:center"><%= ("<b>"+@user_job.progress_max.to_s+"</b>").html_safe %><br/><small>Max</small></div>
              </div>


            </div>
          <% end %>

        </div><!-- col-sm-6 -->

        <div class="col-md-6">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#personal_programs">Personal programs</a></li>
            <li><a data-toggle="tab" href="#all_personal_programs">All personal programs</a></li>
            <li><a data-toggle="tab" href="#subjects">Subjects</a></li>
            <li><a data-toggle="tab" href="#programs">Programs</a></li>
          </ul>

          <div class="tab-content">

            <div id="personal_programs" class="tab-pane fade in active">
              <br>
              <div class="panel panel-success">
                <!-- Default panel contents -->
                <div class="panel-heading">Personal programs</div>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Program ID</th>
                        <th>Program name</th>
                        <th>Note</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @my_personal_programs.each do |program| %>
                        <tr>
                          <th scope="row"><%= program.id %></th>
                          <td><%= program.program_name %></td>
                          <td><%= program.note %></td>
                          <td><%= button_to "Edit", edit_personal_program_path(program), :class => "btn btn-primary", :method => :get %></td>
                          <td><%= button_to 'Delete', delete_personal_program_from_user_path(id: @kuuser.id ,user_personal_program_id: @kuuser.user_personal_programs.find_by(personal_program_id: program).id), :class => "btn btn-default", :method => :delete %></td>
                        </tr>
                      <% end %>
                    </tbody>
                </table>
              </div>

              <!-- Button trigger modal -->
              <button class="btn btn-success" data-toggle="modal" data-target="#personal_program_Modal">
                Create program
              </button>
              <!-- Modal -->
              <div class="modal fade" id="personal_program_Modal" tabindex="-1" role="dialog" aria-labelledby="personal_program_Modal_Label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title">Personal Program</h4>
                    </div>
                    <div class="modal-body">
                      <%= form_tag ku_user_create_personal_program_path, method: :post, :class => "form-horizontal" do %>
                            <%= label_tag 'name', 'Program name', :class => 'control-label' %>
                            <%= text_field_tag :program_name, params[:program_name], :class => "form-control" %>
                            <br>
                            <%= label_tag 'note', 'Program note', :class => 'control-label' %>
                            <%= text_area_tag :note, params[:note], :class => "form-control" %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                         <%= submit_tag "Create program", name: nil, class: "btn btn-success" %>
                      <% end %>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->

            </div>


            <div id="all_personal_programs" class="tab-pane fade">
              <br>
              <div class="panel panel-success">
                <!-- Default panel contents -->
                <div class="panel-heading">All personal programs</div>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Program ID</th>
                        <th>Program name</th>
                        <th>Note</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @all_personal_programs.each do |program| %>
                        <tr>
                          <th scope="row"><%= program.id %></th>
                          <td><%= program.program_name %></td>
                          <td><%= program.note %></td>
                          <td><%= button_to "Edit", edit_personal_program_path(program), :class => "btn btn-primary", :method => :get %></td>
                          <td><%= button_to 'Add', personal_program_user_personal_programs_path(program), :class => "btn btn-default", :method => :post %></td>
                        </tr>
                      <% end %>
                    </tbody>
                </table>
              </div>
            </div>


            <div id="subjects" class="tab-pane fade">
              <br>
              <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading">Subjects</div>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Subject ID</th>
                        <th>Subject name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @kuuser.subjects.where("user_subjects.user_enabled = true").each do |subject| %>
                        <tr>
                          <th scope="row"><%= subject.id %></th>
                          <td><%= link_to subject.subject_name, subject %></td>
                        </tr>
                      <% end %>
                    </tbody>
                </table>
              </div>
            </div>

            <div id="programs" class="tab-pane fade">
              <br>
              <div class="panel panel-warning">
                <!-- Default panel contents -->
                <div class="panel-heading">Programs</div>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Program ID</th>
                        <th>Program name</th>
                        <th>Note</th>
                        <th>Configure</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @kuuser.user_programs.each do |program| %>
                        <tr>
                          <th scope="row"><%= program.id %></th>
                          <td><%= link_to program.program_name, program %></td>
                          <td><%= program.note %></td>
                          <td><%= link_to "Edit", edit_ku_user_attribute_path(id: @kuuser.id, program_id: program.id), :class => "btn btn-success" %></td>
                        </tr>
                      <% end %>
                    </tbody>
                </table>
              </div>
            </div>


          </div><!--tab-content-->
        </div><!-- col-sm-6 -->

      </div><!-- row -->
    </div><!-- col-sm-12 -->
  </div><!-- row -->
</div>
<!-- Main -->
