<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">
  	<form class="form-inline">
  		<div class="form-group">
  			<%= f.select :type, [["Repository", "Repository"], ["Zip file", "Zip"]] %><!-- The first value in each array element is the name of the select option, the second is the value which will be assigned to the attribute.-->
  			<%= f.text_field :name %>
  			<%= link_to_remove_association("remove", f, { wrapper_class: 'form-group' }) %>
  		</div>
  	</form>
  </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= link_to_add_association "Add Attribute", f, :chef_attributes %>
        <% f.fields_for :chef_attributes do |builder| %>
        	<%= render 'chef_attribute_fields', f: builder %>
        <% end %>
      </tbody>
  </table>
</div>
