<div class="row chef-resource" data-id="<%= f.object.id %>">
    <div class="well well-sm">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="subject">
              Action
            </label>
            <%= f.select :resource_type, [["Install from repository", "Repository"], ["Install from deb file", "Deb"], ["Install from source", "Source"], ["Download file", "Download"], ["Extract file", "Extract"]], {}, :class => "form-control" %><!-- The first value in each array element is the name of the select option, the second is the value which will be assigned to the attribute.-->
          </div>

          <div class="form-group">
            <label for="name">
              Program name
            </label>
            <% if @program.persisted? %>
              <% if f.object.resource_type == "Download" || f.object.resource_type == "Extract" %>
                <%= f.text_field :resource_name, class: "form-control", :style => "display: none;" %>
              <% else %>
                <%= f.text_field :resource_name, class: "form-control" %>
              <% end %>
            <% else %>
              <%= f.text_field :resource_name, class: "form-control" %>
            <% end %>
          </div>


          <%= f.label :content, "", {:style=>'display: none;'} %><!-- for attribute partial -->
          <% if @program.persisted? %>
            <% if f.object.resource_type == "Repository" %>
              <%= f.fields_for :chef_attributes do |builder| %>
                <%= render 'programs/attribute_fields/install_repository_fields', f: builder %>
              <% end %>
            <% elsif f.object.resource_type == "Deb" %>
              <%= f.fields_for :chef_attributes, f.object.chef_attributes.order(:id) do |builder| %>
                <%= render 'programs/attribute_fields/install_dep_fields', f: builder %>
              <% end %>
            <% elsif f.object.resource_type == "Source" %>
              <%= f.fields_for :chef_attributes, f.object.chef_attributes.order(:id) do |builder| %>
                <%= render 'programs/attribute_fields/install_source_fields', f: builder %>
              <% end %>
            <% elsif f.object.resource_type == "Download" %>
              <%= f.fields_for :chef_attributes, f.object.chef_attributes.order(:id) do |builder| %>
                <%= render 'programs/attribute_fields/download_file_fields', f: builder %>
              <% end %>
            <% elsif f.object.resource_type == "Extract" %>
              <%= f.fields_for :chef_attributes, f.object.chef_attributes.order(:id) do |builder| %>
                <%= render 'programs/attribute_fields/extract_file_fields', f: builder %>
              <% end %>
            <% elsif f.object.resource_type.nil? %>
              <% f.object.chef_attributes.build %>
              <%= f.fields_for :chef_attributes do |builder| %>
                <%= render 'programs/attribute_fields/default_fields', f: builder %>
              <% end %>
            <% end %>

         <% else %><!-- if @program.persisted? -->
           
            <!-- default partial package (_chef_package_fields.html.erb) -->
  
              
          <% f.object.chef_attributes.build %>
            <%= f.fields_for :chef_attributes do |builder| %>
              <%= render 'programs/attribute_fields/default_fields', f: builder %>
            <% end %>
         
         <% end %>




        <%= link_to_remove_association("Remove", f, wrapper_class: :'row.chef-resource', class: "btn btn-default pull-right" ) %>
        </div>

      </div>
    </div>

</div>

