<div class="row chef-resource" data-id="<%= chef.id %>">
    <div class="well well-sm" style="background: #D8D8D8;">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="subject">
              Action:
            </label>
            <%= resource_type_full_name(chef.resource_type) %>
          </div>


          <div style="display: none;">
            <%= expand_collapse_for(chef) %>
          </div>


          <div class="row">
            <div class="col-md-4 text-center">
              <button type="button" class="btn btn-info">Expand</button>
            </div>
            <div class="col-md-4 text-center">
              <%= form_for(@program, :url => edit_chef_resource_path(chef), :method => :get) do %>
                      <%= hidden_field_tag 'program_id', @program.id  %>
                      <%= submit_tag "Edit", class: "btn btn-success" %>
              <% end %>
            </div>
            <div class="col-md-4 text-center">
              <%= form_for(@program, :url => "/programs/"+@program.id.to_s+"/program_chefs/"+chef.id.to_s, :method => :delete) do %>
                      <%= hidden_field_tag 'program_id', @program.id  %>
                      <%= hidden_field_tag 'chef_id', chef.id  %>
                      <%= submit_tag "delete", class: "btn btn-default pull-right" %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>

</div>
