<div class="row">
  <div class="col-sm-11">

        <div class="wizard col-sm-8">
          <%= link_to(@program.program_name, edit_program_path(@program), class: "current", method: :get) %>
        </div>

        <!-- Button trigger modal -->
        <button class="btn btn-success pull-right" data-toggle="modal" data-target="#program_Modal">
          Note
        </button>
        <!-- Modal -->
        <div class="modal fade" id="program_Modal" tabindex="-1" role="dialog" aria-labelledby="program_Modal_Label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <%= form_for @program do |f| %>
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title"><%= @program.program_name %></h4>
                </div>
                <div class="modal-body">
                        <%= f.label :note,'Program note', class: "control-label" %>
                        <%= f.text_area(:note, rows: 10, class: 'form-control') %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                     <%= f.submit "Update note", class: "btn btn-success" %>
                </div>
              <% end %>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

  </div>
</div>
<br><br>


<div class="row">
  <div class="col-sm-12">

    <div class="col-sm-6"><!--left col-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Install steps</h3>
        </div>
        <div class="panel-body">

          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Install action
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to "Install from repository", program_program_chefs_path(:program_id => @program.id, :chef_resource_type => "Repository"), method: :post %></li>
                <li><%= link_to "Install from deb file", program_program_chefs_path(:program_id => @program.id, :chef_resource_type => "Deb"), method: :post %></li>
                <li><%= link_to "Install from source", program_program_chefs_path(:program_id => @program.id, :chef_resource_type => "Source"), method: :post %></li>
              </ul>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                File action
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to "Download file", program_program_chefs_path(:program_id => @program.id, :chef_resource_type => "Download"), method: :post %></li>
                <li><%= link_to "Extract file", program_program_chefs_path(:program_id => @program.id, :chef_resource_type => "Extract"), method: :post %></li>
                <li><%= link_to "Edit file", program_program_chefs_path(:program_id => @program.id, :chef_resource_type => "Config_file"), method: :post %></li>
                <li><%= link_to "Create file", program_program_chefs_path(:program_id => @program.id, :chef_resource_type => "Create_file"), method: :post %></li>
              </ul>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Command action
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to "Execute command", program_program_chefs_path(:program_id => @program.id, :chef_resource_type => "Execute_command"), method: :post %></li>
                <li><%= link_to "Bash script", program_program_chefs_path(:program_id => @program.id, :chef_resource_type => "Bash_script"), method: :post %></li>
              </ul>
            </div>
          </div>

          <br>

          <div class="sortable">
            <%= render partial: "chefresources", collection: @chef_resources, as: :chef %>
          </div>

        </div>
      </div>
    </div>

    <div class="col-sm-6"><!--right col-->
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Remove steps</h3>
        </div>
        <div class="panel-body">
          <%= render partial: "remove_resources", collection: @removes, as: :chef %>
        </div>
      </div>
    </div>

  </div>
</div>

<%= hidden_field_tag :program_id, @program.id %><!--for sortable-->
<%= javascript_include_tag "programs/link_expand_collapse.js"%>
<%= javascript_include_tag "programs/html.sortable.js"%>
<%= javascript_include_tag "programs/sort.js"%>
