<div class="row">
  <div class="col-sm-10">
    <span class="pull-left">
        <h1>
            <% if @program.persisted? %>
                Update program information
            <% else %>
                Add new program
            <% end %>
        </h1>
    </span>
  </div>
</div>

<%= form_for @program do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="row">
  <div class="col-sm-4"><!--left col-->
    <ul class="list-group">

      <li class="list-group-item text-muted">Information</li>
      <li class="list-group-item text-right">
        <span class="pull-left">
            <strong>
                <%= f.label :program_name,'Program name', class: "control-label" %>
            </strong>
        </span>
        <%= f.text_field :program_name, class: "form-control" %>
      </li>

      <li class="list-group-item text-right">
        <span class="pull-left">
            <strong>
                <%= f.label :note,'Program note', class: "control-label" %>
            </strong>
        </span>
        <%= f.text_area(:note, rows: 10, class: 'form-control') %>
      </li>

      <li class="list-group-item text-center">
        <% if @program.persisted? %>
            <%= f.submit "Update program", class: "btn btn-primary" %>
        <% else %>
            <%= f.submit "Add program", class: "btn btn-success" %>
        <% end %>
      </li>

    </ul>
  </div><!--/col-4-->


<%= hidden_field_tag :program_id, @program.id %>

<% end %>

<% if @program.persisted? %>
<div class="col-sm-6">
  <div class="row">
    <div class="col-md-12">
      <table>
        <tr>
          <td class="col-md-6">
            <div>
              <%= form_for(@program, :url => "/programs/"+@program.id.to_s+"/program_chefs", :method => :post) do %>
                          <%= hidden_field_tag 'program_id', @program.id  %>
                          <%= select_tag :chef_resource_type, options_for_select([["Install from repository", "Repository"], ["Install from deb file", "Deb"], ["Install from source", "Source"]]), class: "form-control" %>
                          <div style="margin-top: 10px"></div>
                          <%= submit_tag "Install action", class: "btn btn-primary" %>
                  <% end %>
            </div>
          </td>
          <td class="col-md-6">
            <div>
              <%= form_for(@program, :url => "/programs/"+@program.id.to_s+"/program_chefs", :method => :post) do %>
                          <%= hidden_field_tag 'program_id', @program.id  %>
                          <%= select_tag :chef_resource_type, options_for_select([["Download file", "Download"], ["Extract file", "Extract"], ["Edit file", "Config_file"], ["Copy file", "Copy_file"], ["Create file", "Create_file"], ["Move file", "Move_file"]]), class: "form-control" %>
                          <div style="margin-top: 10px"></div>
                          <%= submit_tag "File action", class: "btn btn-primary" %>
                  <% end %>
            </div>
          </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td class="col-md-6">
          <div>
            <%= form_for(@program, :url => "/programs/"+@program.id.to_s+"/program_chefs", :method => :post) do %>
                        <%= hidden_field_tag 'program_id', @program.id  %>
                        <%= select_tag :chef_resource_type, options_for_select([["Execute command", "Execute_command"], ["Bash script", "Bash_script"]]), class: "form-control" %>
                        <div style="margin-top: 10px"></div>
                        <%= submit_tag "Other action", class: "btn btn-primary" %>
                <% end %>
          </div>
        </td>
      </tr>
      </table>
    </div>
  </div>
  <div style="margin-top: 10px">
  </div>
  <div class="sortable">
    <% if @program.chef_resources.any? %>
      <%= render partial: "chefresources", collection: @program.chef_resources, as: :chef %>
    <% end %>
  </div>
</div><!--/col-6-->
<% end %>
</div><!--row-->

<%= javascript_include_tag "programs/btn_expand_collapse.js"%>
<%= javascript_include_tag "programs/html.sortable.js"%>
<%= javascript_include_tag "programs/sort.js"%>
