<ul class="list-group">
<%= form_for @program do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <li class="list-group-item text-muted">Information</li>
  <li class="list-group-item text-right">
    <span class="pull-left">
        <strong>
            <%= f.label :program_name,'Program Name', class: "control-label" %>
        </strong>
    </span>
    <%= f.text_field :program_name, class: "form-control" %>
  </li>

  <li class="list-group-item text-right">
    <span class="pull-left">
        <strong>
            <%= f.label :note,'Program note', class: "control-label" %>
        </strong>
    </span>
    <%= f.text_area(:note, rows: 10, class: 'form-control') %>
  </li>

  <li class="list-group-item text-center">
    <% if @program.persisted? %>
        <%= f.submit "Update program", class: "btn btn-primary" %>
    <% else %>
        <%= f.submit "Add program", class: "btn btn-success" %>
    <% end %>
  </li>
<% end %>
</ul>