<tr>
	<th scope="row"><%= program.id %></th>
	<th><%= link_to program.program_name, program %></th>
	<th><%= program.note %></th>
	<th>
		<div style="display:inline-block;">
			<%= button_to 'Edit', edit_program_path(program), :class => "btn btn-primary", :method => :get  %>
		</div>
		<div style="display:inline-block;">
			<%= button_to 'Delete', program_path(program), data: { confirm: "Are you sure?" }, :class => "btn btn-default", :method => :delete %>
		</div>
	</th>
</tr>