<div>
    <div class="well well-sm" style="background: #D8D8D8;">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="subject">
              Action: Remove
            </label>
            <%= action_remove_resource_name(chef.resource_type) %>
            <%= link_to("Destroy", program_program_chef_path(program_id: @program.id, chef_id: chef.id), method: :delete, class: "btn btn-default pull-right") %>
          </div>


          <div style="display: none;">
            <%= expand_collapse_for(chef, @program) %>
          </div>


          <div class="row">
            <div class="col-md-4 text-center">
              <button type="button" class="btn btn-info">Expand</button>
            </div>
            <div class="col-md-4 text-center">
              <%= link_to "Edit", edit_program_chef_resource_path(program_id: @program.id, id: chef.id), :class => "btn btn-success" %>
            </div>
            <div class="col-md-4 text-center">
              <%= link_to("Add", program_program_chef_path(program_id: @program.id, chef_id: chef.id, condition: "add"), method: :patch, class: "btn btn-default pull-right") %>
            </div>
          </div>
        </div>

      </div>
    </div>

</div>
