<% chef_property = expand_collapse_for(chef, @program) %>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="well" style="background: #D8D8D8;">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="subject">
              Action: Remove
            </label>
            <%= action_remove_resource_name(chef.resource_type) %>

            <!-- Single button -->
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Expand</a></li>
                <li><%= link_to "Edit", edit_program_chef_resource_path(program_id: @program.id, id: chef.id) %></li>
                <li><%= link_to("Add", program_program_chef_path(program_id: @program.id, chef_id: chef.id, condition: "add"), method: :patch) %></li>
                <li><%= link_to("Destroy", program_program_chef_path(program_id: @program.id, chef_id: chef.id), method: :delete, data: {title: "Destroy action", confirm: chef_property } ) %></li>
              </ul>
            </div>

          </div>

          <div style="display: none;">
            <%= chef_property %>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
