
<% @all_files.each do |file| %>
<%= file.gsub("public/cookbooks/"+@program.program_name, "") %><br>
<% end %>
<hr>
<% @all_directories.each do |directory| %>
<%= directory %><br>
<% end %>
xxxxxxxxxxxxxxxx
<%= form_tag('/new_file', :method=>'get' ) do %>
 <%= hidden_field_tag 'id', @program.id.to_s %>
 <p>
   Subject:<br />
   <%= text_field_tag "subject" %>
 </p>
 <p>
   Priority: <br />
   <%= select_tag("priority", options_for_select([['Critical', '1'],
                 ['Important', '2'],['Standard','3']], '3')) %>
 </p>
 <p>
   Describe your problem:<br />
   <%= text_area_tag "description", "", :size=>"50x20" %>
 </p>
 <p>
   Add an attachment:<br />
   <%= file_field_tag "attachment" %>
 </p>
 <p>
   <%= submit_tag 'Submit' %>
 </p>
<% end %>
