
<% @all_directories.each do |directory| %>
<%= directory %><br>
<% end %>
xxxxxxxxxxxxxxxx
<%= form_tag('/new_file', :method=>'get' ) do %>
 <%= hidden_field_tag 'id', @program.id.to_s %>
 <p>
   Subject:<br />
   <%= text_field_tag "subject" %>
 </p>
 <p>
   Priority: <br />
   <%= select_tag("priority", options_for_select([['Critical', '1'],
                 ['Important', '2'],['Standard','3']], '3')) %>
 </p>
 <p>
   Describe your problem:<br />
   <%= text_area_tag "description", "", :size=>"50x20" %>
 </p>
 <p>
   Add an attachment:<br />
   <%= file_field_tag "attachment" %>
 </p>
 <p>
   <%= submit_tag 'Submit' %>
 </p>
<% end %>
<hr>


<div class="main">
  <div class="container">
    <!-- Gallery -->
    <div class="gallery">
      <div class="row">
        <div class="span12" align="center" >
          <h2><b>All Files</b></h2>
			<table cellspacing='0' style="width:40%;">
			<%= form_tag('/new_file', :method=>'get' ) do %>
	        <% @all_files.each do |file| %>
	        	<tr>
	        		<% if File.directory?(file) %>
	        			<td align="left"><%= image_tag "icon_folder.png" %><%= file.gsub("public/cookbooks/"+@program.program_name, "") %></td>
	        			<td></td>
	        			<td><button type="button">Delete</button></td>
	        		<% else %>
	        			<td align="left"><%= image_tag "icon_file.png" %><%= file.gsub("public/cookbooks/"+@program.program_name, "") %></td>
	        			<td><button type="button">Edit</button></td>
	        			<td><button type="button">Delete</button></td>
	        		<% end %>
				</tr>
			<% end %><!-- End all_filesloop -->
			<% end %><!-- End form_tag -->
			</table>
        </div>
      </div>
    </div>

    <!-- Buttons. Replace # with your link -->
    <div class="buttons"></div>
  </div>
  <!-- End of container -->
  <!-- Sponsors -->
  <!-- Foot -->

</div>
