<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading"><%= @program.program_name %></div>
  <br>
  <fieldset>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
      <%= form_tag(program_path(@program)+"/create_from_loot_dir_form_tag", :method=>'post' ) do %>
        <div class="control-group">
          <%= label_tag 'Type', nil, class: "control-label" %>
          <div class="controls">
            <%= select_tag("type", options_for_select([['New Directory', '1'], ['New File', '2']], '1'), class: 'form-control input-lg') %>
          </div>
        </div>
        <br>
        <div class="control-group">
          <%= label_tag 'Path', nil, class: "control-label" %>
          <div class="controls">
            <%= select_tag "new_file_path", options_for_select(@all_directories.map { |value| [ value.gsub(@directory+"/", ""), value ] }), include_blank: "/", class: 'form-control input-lg' %>
          </div>
        </div>
        <br>
        <div class="control-group">
          <%= label_tag 'Name', nil, class: "control-label" %>
          <div class="controls">
            <%= text_field_tag "name", nil, class: "form-control input-lg" %>
          </div>
        </div>
        <br>
        <div class="control-group" align="center">
          <div class="controls">
            <%= submit_tag "Create", class: "btn btn-success" %>
          </div>
        </div>
        <br>
      <% end %>
      </div>
    </div>
  </fieldset>
</div>


<div class="panel panel-default">
  <div class="panel-heading">/</div>
  <div class="panel-body">
    <table class="table table-striped">
      <tbody>
      <% @current_dir.each do |file| %>
        <tr>
          <td>
            <% if File.directory?(file) %>
              <%= image_tag "icon_folder.png" %>
            <% else %>
              <%= image_tag "icon_file.png" %>
            <% end %>
            <%= link_to file.gsub(@directory+"/", ""), program_path(@program)+file.gsub(@directory, "") %>
          </td>
          <td>
            <%= button_to 'Delete', program_path(@program)+"/"+file.gsub(@directory+"/", ""), data: { confirm: "Are you sure?" }, :class => "btn btn-default", :method => :delete, params: {'name' => file.gsub(@directory, "")} %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

