<div class="main">
  <div class="container">
    <!-- Gallery -->
    <div class="gallery">

      <div class="row">
        <div class="span12" align="center" >
          <h2><b><%= @file_path.split("/")[-1] %></b></h2>
            <%= form_tag('/save_file', :method=>'post' ) do %>
              <%= hidden_field_tag 'id', @program_id.to_s %>
              <%= hidden_field_tag 'path', @file_path.to_s %>
            <table cellspacing='0' style="width:80%;">
              <tr>
                <td align="center">
                  <div id="editor"><%= @data %></div>
                  <%= text_area_tag 'file_data', @data, class: 'text_area_hidden' %>
                </td>
              </tr>
              <tr>
                <td align="center"><%= submit_tag 'Save', class: 'btn btn-primary' %></td>
              </tr>
            </table>
            <% end %>
        </div>
      </div>


</div>
<%= javascript_include_tag Dir.chdir(File.join(Rails.root, "public", "ace", "src-min")) { |d| Dir.glob("ace.js") } %>
<%= javascript_include_tag Dir.chdir(File.join(Rails.root, "public", "ace")) { |d| Dir.glob("text_area_ace.js") } %>