<div class="row">
  <div class="col-sm-12">
    <span class="pull-left"><h1><%= @subject.subject_name %> Programs</h1></span>
    <span class="pull-right">
      <h1>
        <div style="display:inline-block;">
          <%= link_to "Apply change", subject_path(@subject)+"/program_apply", remote: true, :class => "btn btn-primary" %>
        </div>
        <div style="display:inline-block;">
          <%= button_to 'Back', subject_path(@subject), :class => "btn btn-default", :method => :get %>
        </div>
      </h1>
    </span>
  </div>
</div>

<div class="row">
  <div class="command">
    <div class="well" style="display:none;">

      <div class="row">
        <div class="col-sm-12">
          <div class="progress-status text-primary">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="progress progress-striped active">
            <div class="progress-bar">
              <div class="text-primary">
                0%
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Proram in this subject</div>
  <br>
  	<table id="" class="datatable_display table table-striped">
  		<thead>
  			<tr>
  				<th>Program ID</th>
  				<th>Program name</th>
  				<th>Note</th>
  				<th>Action</th>
  			</tr>
  		</thead>
  		<tbody>
  			<%= render partial: "subjectprogram", collection: @subjectprograms, as: :program %>
  		</tbody>
	</table>
</div>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Program List</div>
  <br>
  	<table id="" class="datatable_display table table-striped">
  		<thead>
  			<tr>
  				<th>Program ID</th>
  				<th>Program name</th>
  				<th>Note</th>
  				<th>Action</th>
  			</tr>
  		</thead>
  		<tbody>
  			<%= render partial: "programs", collection: @programs, as: :program %>
  		</tbody>
	</table>
</div>