<%= form_for @subject do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<table cellspacing='0' style="width:40%;">
        <tr>
                <td align="left"><%= f.label :subject_id,'Subject ID' %></td><td align="center"><%= f.text_field :subject_id %></td>
        </tr>
        <tr>
                <td align="left"><%= f.label :subject_name,'Subject Name' %></td><td align="center"><%= f.text_field :subject_name %></td>
        </tr>
        <tr>
                <td align="left"><%= f.label :term,'Term' %></td><td align="center"><%= f.select :term, [['First','1'],['Second','2'],['Summer','3']] %></td>
        </tr>
        <tr>
                <td align="left"><%= f.label :year,'Year' %></td><td align="center"><%= f.text_field :year %></td>
        </tr>
        <tr>
                <td align="center" colspan="2"><%= f.submit "Add Subject" %></td>
        </tr>
</table>
<% end %>

