User index
<hr>
<% @subjects.each do |subject| %>
<h2><%= link_to subject.subject_id, subject %></h2>
<p><%= subject.subject_name %></p>
<p><%= link_to "Edit", edit_subject_path(subject) %> | 
<%= link_to "Delete", subject_path(subject),  method: :delete, data: { confirm: "You sure?" } %>
</p>
<hr>
<% end %>

<p><%= link_to "Add new subject", new_subject_path %></p>
