<div class="row">
  <div class="col-sm-12">
    <span class="pull-left"><h1><%= @subject.subject_name %></h1></span>
    <span class="pull-right">
      <h1>
        <div style="display:inline-block;">
          <%= link_to "Apply change", subject_path(@subject)+"/apply_change", :class => "btn btn-primary" %>
        </div>
        <div style="display:inline-block;">
          <%= button_to 'Update program in subject', subject_programs_subjects_path(@subject), :class => "btn btn-info", :method => :get %>
        </div>
        <div style="display:inline-block;">
          <%= button_to 'Update user in subject', subject_user_subjects_path(@subject), :class => "btn btn-warning", :method => :get %>
        </div>
      </h1>
    </span>
  </div>
</div>

<div class="row">
  <div class="col-sm-3"><!--left col-->
    <ul class="list-group">
      <li class="list-group-item text-muted">Information</li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Subject ID</strong></span><%= @subject.subject_id %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Term</strong></span>
      <% if @subject.term == 1 %>
        First
      <% elsif @subject.term == 2 %>
        Second
      <% else %>
        Summer
      <% end %>
      </li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Year</strong></span><%= @subject.year %></li>
    </ul>
  </div><!--/col-5-->
  <div class="col-sm-9">

    <div class="panel panel-info">
      <!-- Default panel contents -->
      <div class="panel-heading">Programs</div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Program ID</th>
              <th>Program name</th>
            </tr>
          </thead>
          <tbody>
            <% @subject.programs.where("programs_subjects.program_enabled = true").order("programs.program_name ASC").each do |program| %>
              <tr>
                <th scope="row"><%= program.id %></th>
                <td><%= link_to program.program_name, edit_program_path(program) %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>


    <div class="panel panel-warning">
      <!-- Default panel contents -->
      <div class="panel-heading">Students</div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Student ID</th>
              <th>Student name</th>
            </tr>
          </thead>
          <tbody>
            <% @subject.ku_users.where("user_subjects.user_enabled = true").order("ku_users.ku_id ASC").each do |user| %>
              <tr>
                <th scope="row"><%= link_to user.ku_id, user %></th>
                <td><%= user.firstname+" "+user.lastname %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>

  </div><!--/col-9-->
</div>
