<div class="row">
  <div class="col-sm-12">
    <span class="pull-left"><h1><%= @subject.subject_name %></h1></span>
    <span class="pull-right">
      <h1>
        <div style="display:inline-block;">
          <%= button_to [:apply_change, @subject], :class => "btn btn-primary", :method => :get, :disabled => @was_updated == 0 ? true : false, data: {title: "Apply change", confirm: 'It will take a long time to process, Are you sure?'} do %>
            Apply change
            <% if @was_updated != 0 %>
              <%= content_tag :span, @was_updated, class: 'badge' %>
            <% end %>
          <% end %>
        </div>
        <div style="display:inline-block;">
          <%= button_to 'Update program in subject', subject_programs_subjects_path(@subject), :class => "btn btn-info", :method => :get %>
        </div>
        <div style="display:inline-block;">
          <%= button_to 'Update user in subject', subject_user_subjects_path(@subject), :class => "btn btn-warning", :method => :get %>
        </div>
      </h1>
    </span>
  </div>
</div>

<div class="row">
  <div class="col-sm-3"><!--left col-->
    <ul class="list-group">
      <li class="list-group-item text-muted">Information</li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Subject ID</strong></span><%= @subject.subject_id %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Term</strong></span>
      <% if @subject.term == 1 %>
        First
      <% elsif @subject.term == 2 %>
        Second
      <% else %>
        Summer
      <% end %>
      </li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Year</strong></span><%= @subject.year %></li>
    </ul>

    <div class="center">
      <!-- Button trigger modal -->
      <button class="btn btn-success" data-toggle="modal" data-target="#program_Modal">
        Edit information
      </button>
      <!-- Modal -->
      <div class="modal fade" id="program_Modal" tabindex="-1" role="dialog" aria-labelledby="program_Modal_Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <%= render 'form' %>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>

  </div><!--/col-3-->
  <div class="col-sm-9">

    <div class="panel panel-info">
      <!-- Default panel contents -->
      <div class="panel-heading">Programs</div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Program name</th>
              <th>Change</th>
            </tr>
          </thead>
          <tbody>
            <% @subject.programs.order("programs.program_name ASC").each do |program| %>
              <tr>
                <td><%= link_to program.program_name, edit_program_path(program) %></td>
                <% state = @subject.programs_subjects.where(program_id: program.id).pluck("state").first %>
                <th scope="row">
                  <% if state != "none" %>
                    <% if state == "uninstall" %>
                      <span class="label label-danger">uninstall</span>
                    <% else %>
                      <span class="label label-success"><%= state %></span>
                    <% end %>
                  <% end %>
                </th>

              </tr>
            <% end %>
          </tbody>
      </table>
    </div>


    <div class="panel panel-warning">
      <!-- Default panel contents -->
      <div class="panel-heading">Students</div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Student ID</th>
              <th>Student name</th>
              <th>Change</th>
            </tr>
          </thead>
          <tbody>
            <% @subject.ku_users.order("ku_users.ku_id ASC").each do |user| %>
              <tr>
                <td><%= link_to user.ku_id, user %></td>
                <td><%= user.firstname+" "+user.lastname %></td>
                <% state = @subject.user_subjects.where(ku_user_id: user.id).pluck("state").first %>
                <th scope="row">
                  <% if state != "none" %>
                    <% if state == "remove" %>
                      <span class="label label-danger">remove</span>
                    <% else %>
                      <span class="label label-success"><%= state %></span>
                    <% end %>
                  <% end %>
                </th>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>

  </div><!--/col-9-->
</div>
