<% if !@program.nil? %>
        <% if f.object.att_type == "download_url" %>
        <div>
                <div class="form-group">
                        <label for="name">
                                Download url
                        </label>
                        <%= f.hidden_field :att_type, :value => "download_url" %>
                        <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-save-file"></span></span>
                                <%= f.text_field :att_value, class: "form-control" %>
                        </div>
                </div>
                <%= f.hidden_field :_destroy  %>
        <% elsif f.object.att_type == "source_file" %>
                <div class="form-group">
                        <label for="name">
                                File name
                        </label>
                        <%= f.hidden_field :att_type, :value => "source_file" %>
                        <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-file"></span></span>
                                <%= f.text_field :att_value, class: "form-control" %>
                        </div>
                </div>
                <%= f.hidden_field :_destroy  %>
        </div>
        <% end %>
        <%= f.hidden_field :form_type, :value => "old" %>
<% else %>
        <% partial_id = DateTime.now.strftime('%Q').to_s %>
        <% i = 0 %>
        <div class="form-group">
                <label for="name">
                        Download url
                </label>
                <%= f.hidden_field :att_type, :value => "download_url", :name => 'program[chef_resources_attributes]['+form_id+'][chef_attributes_attributes]['+partial_id+i.to_s+'][att_type]', :id => 'program_chef_resources_attributes_'+form_id+'_chef_attributes_attributes_'+partial_id+i.to_s+'_att_type' %>
                <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-file"></span></span>
                <%= f.text_field :att_value, :name => 'program[chef_resources_attributes]['+form_id+'][chef_attributes_attributes]['+partial_id+i.to_s+'][att_value]', :id => 'program_chef_resources_attributes_'+form_id+'_chef_attributes_attributes_'+partial_id+i.to_s+'_att_value', :class => 'form-control' %>
                </div>
                <%= f.hidden_field :_destroy, :name => 'program[chef_resources_attributes]['+form_id+'][chef_attributes_attributes]['+partial_id+i.to_s+'][_destroy]', :id => 'program_chef_resources_attributes_'+form_id+'_chef_attributes_attributes_'+partial_id+i.to_s+'__destroy' %>
        </div>
        <% i = i+1 %>
        <div class="form-group">
                <label for="name">
                        File name
                </label>
                <%= f.hidden_field :att_type, :value => "source_file", :name => 'program[chef_resources_attributes]['+form_id+'][chef_attributes_attributes]['+partial_id+i.to_s+'][att_type]', :id => 'program_chef_resources_attributes_'+form_id+'_chef_attributes_attributes_'+partial_id+i.to_s+'_att_type' %>
                <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-file"></span></span>
                <%= f.text_field :att_value, :name => 'program[chef_resources_attributes]['+form_id+'][chef_attributes_attributes]['+partial_id+i.to_s+'][att_value]', :id => 'program_chef_resources_attributes_'+form_id+'_chef_attributes_attributes_'+partial_id+i.to_s+'_att_value', :class => 'form-control' %>
                </div>
                <%= f.hidden_field :_destroy, :name => 'program[chef_resources_attributes]['+form_id+'][chef_attributes_attributes]['+partial_id+i.to_s+'][_destroy]', :id => 'program_chef_resources_attributes_'+form_id+'_chef_attributes_attributes_'+partial_id+i.to_s+'__destroy' %>
        </div>
        <%= f.hidden_field :form_type, :value => "new", :name => 'program[chef_resources_attributes]['+form_id+'][chef_attributes_attributes]['+partial_id+i.to_s+'][form_type]', :id => 'program_chef_resources_attributes_'+form_id+'_chef_attributes_attributes_'+partial_id+i.to_s+'_form_type' %>
<% end %>

