<% if File.file?(@current_file) %>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to @kuuser.ku_id, ku_user_path(@kuuser)+"/cookbook/"+@kuuser.ku_id+"/" %><%= " / " %>
    <% temp_path = "" %>
    <% last_index = @path.split("/").count %>
    <% @path.split("/").each_with_index do |item, index| %>
      <% if (index+1) == last_index %>
        <strong><%= item %></strong><%= " / " %>
      <% else %>
        <% temp_path += "/"+item %>
        <%= link_to item, ku_user_path(@kuuser)+"/cookbook/"+@kuuser.ku_id+"/"+temp_path %><%= " / " %>
      <% end %>
    <% end %>
  </div>
  <div class="panel-body">
    File
  </div>
</div>

<%= javascript_include_tag "ace/src-min/ace.js", "ace/text_area_ace.js" %>
<% elsif File.directory?(@current_file) %>


<div class="row">
  <div class="col-sm-12">
    <span class="pull-left"><h1><%= @kuuser.ku_id %></h1></span>
    <span class="pull-right">

    </span>
  </div>
</div>

<div class="row">

  <div class="col-sm-9">

    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to @kuuser.ku_id, ku_user_path(@kuuser)+"/cookbook/"+@kuuser.ku_id+"/" %><%= " / " %>
        <% temp_path = "" %>
        <% last_index = @path.split("/").count %>
        <% @path.split("/").each_with_index do |item, index| %>
          <% if (index+1) == last_index %>
            <strong><%= item %></strong><%= " / " %>
          <% else %>
            <% temp_path += "/"+item %>
            <%= link_to item, ku_user_path(@kuuser)+"/cookbook/"+@kuuser.ku_id+"/"+temp_path %><%= " / " %>
          <% end %>
        <% end %>
      </div>
      <div class="panel-body">
        Directory
      </div>
    </div>


  </div><!--/col-9-->
</div>


<% else %>
	File not found
<% end %>
