<tr>
	<th scope="row"><%= program.id %></th>
	<th><%= link_to program.program_name, program %></th>
	<th><%= program.note %></th>
	<th>
		<div style="display:inline-block;">
			<%= button_to 'Edit', edit_personal_program_path(program), :class => "btn btn-primary", :method => :get  %>
		</div>
		<div style="display:inline-block;">
			<%= button_to 'Add', personal_program_user_personal_programs_path, :class => "btn btn-default", :method => :post %>
		</div>
	</th>
</tr>
