
<div class="row">
  <div class="col-sm-10">

        <div class="wizard">
          <% if @personal_program.persisted? %>
            <%= link_to(@personal_program.program_name, edit_personal_program_path(@personal_program), class: "current", method: :get) %>
          <% else %>
            <a class="current">Add new personal program</a>
          <% end %>
        </div>

  </div>
</div>
<br><br>
<%= form_for @personal_program do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="row">
  <div class="col-sm-4"><!--left col-->
    <ul class="list-group">

      <li class="list-group-item text-muted">Information</li>
      <li class="list-group-item text-right">
        <span class="pull-left">
            <strong>
                <%= f.label :program_name,'Program name', class: "control-label" %>
            </strong>
        </span>
        <%= f.text_field :program_name, class: "form-control" %>
      </li>

      <li class="list-group-item text-right">
        <span class="pull-left">
            <strong>
                <%= f.label :note,'Program note', class: "control-label" %>
            </strong>
        </span>
        <%= f.text_area(:note, rows: 10, class: 'form-control') %>
      </li>

      <li class="list-group-item text-center">
        <% if @personal_program.persisted? %>
            <%= f.submit "Update program", class: "btn btn-primary" %>
        <% else %>
            <%= f.submit "Add program", class: "btn btn-success" %>
        <% end %>
      </li>

    </ul>
  </div><!--/col-4-->


<%= hidden_field_tag :personal_program_id, @personal_program.id %>

<% end %>

<% if @personal_program.persisted? %>
<div class="col-sm-6">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#action">Action</a></li>
    <li><a data-toggle="tab" href="#related_users">Related users</a></li>
  </ul>

  <div class="tab-content">

    <div id="action" class="tab-pane fade in active">
      <br>
      <div class="row">
        <div class="col-md-12">
          <% if @personal_program.owner == current_user.id %>
            <table>
              <tr>
                <td class="col-md-6">
                  <div>
                    <%= form_for(@personal_program, :url => "/personal_programs/"+@personal_program.id.to_s+"/personal_program_chefs", :method => :post) do %>

                                <%= select_tag :chef_resource_type, options_for_select([["Install from repository", "Repository"], ["Install from deb file", "Deb"], ["Install from source", "Source"]]), class: "form-control" %>
                                <div style="margin-top: 10px"></div>
                                <%= submit_tag "Install action", class: "btn btn-primary" %>
                        <% end %>
                  </div>
                </td>
                <td class="col-md-6">
                  <div>
                    <%= form_for(@personal_program, :url => "/personal_programs/"+@personal_program.id.to_s+"/personal_program_chefs", :method => :post) do %>

                                <%= select_tag :chef_resource_type, options_for_select([["Download file", "Download"], ["Extract file", "Extract"], ["Edit file", "Config_file"], ["Create file", "Create_file"]]), class: "form-control" %>
                                <div style="margin-top: 10px"></div>
                                <%= submit_tag "File action", class: "btn btn-primary" %>
                        <% end %>
                  </div>
                </td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
              <td class="col-md-6">
                <div>
                  <%= form_for(@personal_program, :url => "/personal_programs/"+@personal_program.id.to_s+"/personal_program_chefs", :method => :post) do %>

                              <%= select_tag :chef_resource_type, options_for_select([["Execute command", "Execute_command"], ["Bash script", "Bash_script"]]), class: "form-control" %>
                              <div style="margin-top: 10px"></div>
                              <%= submit_tag "Other action", class: "btn btn-primary" %>
                      <% end %>
                </div>
              </td>
            </tr>
            </table>
          <% end %>
        </div>
      </div>
      <div style="margin-top: 10px">
      </div>
      <% if @personal_program.owner == current_user.id %>
        <div class="sortable">
          <% if @personal_program.personal_chef_resources.any? %>
            <%= render partial: "personal_chef_resources", collection: @personal_program.personal_chef_resources, as: :chef %>
          <% end %>
        </div>
      <% else %>
        <div>
          <% if @personal_program.personal_chef_resources.any? %>
            <%= render partial: "personal_chef_resources", collection: @personal_program.personal_chef_resources, as: :chef %>
          <% end %>
        </div>
      <% end %>
    </div><!-- id=action class=tab-pane fade in active-->

    <div id="related_users" class="tab-pane fade">
      <br>
      <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">Related users</div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Ku ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
              </tr>
            </thead>
            <tbody>
              <% @personal_program.ku_users.each do |user| %>
                <tr>
                  <th scope="row"><%= user.ku_id %></th>
                  <td><%= user.firstname %></td>
                  <td><%= user.lastname %></td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
    </div><!-- id=related_users class=tab-pane fade -->

  </div><!--tab-content-->
</div><!--/col-6-->
<% end %>
</div><!--row-->

<%= javascript_include_tag "programs/btn_expand_collapse.js"%>
<%= javascript_include_tag "programs/html.sortable.js"%>
<%= javascript_include_tag "personal_programs/sort.js"%>
