<!DOCTYPE html>
<html>
<head>
  <title>KuWorkstation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Navigation section -->
<% if logged_in? %>
  <nav class="navbar navbar-default">
    <div class="container-fluid">


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Program<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Add Program</a></li>
              <li><a href="#">Program List</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Subject<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Add Subject</a></li>
              <li><a href="#">Subject List</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">User<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Add User</a></li>
              <li><a href="#">Teacher List</a></li>
              <li><a href="#">Student List</a></li>
              <li><%= link_to "All Users", ku_users_path %></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Instance<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Teacher Instance</a></li>
              <li><a href="#">Student Instance</a></li>
            </ul>
          </li>

          <li><a href="#">Contact</a></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>

        </ul><!-- <ul class="nav navbar-nav"> -->


      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<% else %>
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li><%= link_to "Log in", login_path %></li>

        </ul><!-- <ul class="nav navbar-nav"> -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<% end %>

<br>
<br>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<br>
<br>
<div class="container">
  <%= yield %>
</div>
<!-- Footer -->
<footer class="footer">
  <nav>
    <ul>
      <li>&copy; 2014 kasetsart university</li>
      <li>00123 320 000 123 456</li>
      <li>hello@ku.ac.th</li>
    </ul>
  </nav>
</footer>

</body>
</html>
