<!DOCTYPE html>
<html>
<head>
  <title>KuWorkstation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Navigation section -->
<% if logged_in? %>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>



      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <% if current_user.admin? %>

              <li><%= link_to "Dashboard", dashboard_index_path %></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">User<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to "Add Users", new_ku_user_path %></li>
                  <li><%= link_to "All Users", ku_users_path %></li>
                </ul>
              </li>

              <li><%= link_to "Instances", instances_path %></li>

              <li><%= link_to "Logs", logs_path %></li>

          <% else %>

              <li><%= link_to current_user.ku_id, current_user %></li>

          <% end %>

              <li><%= link_to "Log out", logout_path, method: :delete %></li>

        </ul><!-- <ul class="nav navbar-nav"> -->


      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<% else %>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li><%= link_to "Log in", login_path %></li>

        </ul><!-- <ul class="nav navbar-nav"> -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="footer">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <nav>
        <ul>
          <li>&copy; 2016 kasetsart university</li>
        </ul>
      </nav>
    </div>
  </div>
</footer>

</body>
</html>
